@media (max-height: 550px) and (min-width: 410px){                  
    .content-to-hide {
       display: none!important;
    }
 }

 @media (max-height: 480px) {                  
   .content-to-hide-landscape{
     display: none!important;
   }
}
 @media (max-width:720px ){
   h4 {
      font-size: medium!important;
   }
   b {
      font-size: smaller!important;
      font-weight: normal!important;
   }
   .hide-icon{
      display: none!important;
   }
 }