<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>Mustafijur Rahman</title>
    <!-- font icons -->
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Meyawo main styles -->
	<link rel="stylesheet" href="assets/css/meyawo.css">
</head>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5ef772b09e5f694422916c0b/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->


<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="#">Mustafijur</a>         
            <ul class="nav">
                <li class="item">
                    <a class="link" href="#home">Home</a>
                </li>
                <li class="item">
                    <a class="link" href="#about">About</a>
                </li>
                <li class="item">
                    <a class="link" href="#portfolio">Portfolio</a>
                </li>
                <li class="item">
                    <a class="link" href="#testmonial">Testmonial</a>
                </li>
                <li class="item">
                    <a class="link" href="#contact">Contact</a>
                </li>
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>          
    </nav><!-- End of Page Navbar -->

    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">HI!</span>
                <span class="down">I am Mustafijur Rahman</span>
            </h1>
            <p class="header-subtitle">I develop software with Python</p>            
            <a href="//github.com/Mustafiz48" target="_blank"><button class="btn btn-primary">Visit My Works</button></a>
        </div>              
    </header><!-- end of page header -->

    <!-- about section -->
    <section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-img-holder">
                    <img src="assets/imgs/me.jpg" class="about-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="about-caption">
                    <p class="section-subtitle">Who Am I ?</p>
                    <h2 class="section-title mb-3">About Me</h2>
                    <p>
                        I have been serving BJIT, one of the top IT company in Bangladesh, as an AI software engineer for two years. Here I have been developing top quality cutting-edge Machine Learning and Ai based software for global clients. 
                        Besides working in BJIT, I have been doing paid projects for offshore clients through freelancing platforms. I am experienced in Machine Learning, Deep Learning, Data Science, Bakcend development with Django and Fastapi. 
                        I am continously learning and growing in these fields through my works and my job. I have started my journey as software engineer after completing my graduation on Computer Science and Engineering from Rajshahi University of Engineering & technology.
                    </p>
                    <button class="btn-rounded btn btn-outline-primary mt-4"><a class="link" href="https://drive.google.com/file/d/1GCDENt3ThMI-Y0l70S39KbnEYnaIKsNI/view" target="_blank">Download my CV </a></button>
                </div>              
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->

    <!-- service section -->
    <section class="section" id="service">
        <div class="container text-center">
            <p class="section-subtitle">What I Do ?</p>
            <h6 class="section-title mb-6">Service</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="assets/imgs/coding.svg" alt="coding icon" class="icon">
                            <h6 class="title">Software Development</h6>
                            <p class="subtitle">I can develop software and console app with Python.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="assets/imgs/ai.svg" alt="Ai icon" class="icon">
                            <h6 class="title">Artifial Intelligence</h6>
                            <p class="subtitle">I am experienced in building Ai application</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="assets/imgs/brain.svg" alt="Deep learning icon" class="icon">
                            <h6 class="title">Deep Learning</h6>
                            <p class="subtitle">I can build Neural Network architecture to perform deep learning tasks.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="assets/imgs/computer.svg" alt="Computer Icon" class="icon">
                            <h6 class="title">Backend Development</h6>
                            <p class="subtitle">I can build backend application through FastApi and Django framework</p>
                        </div>
                    </div>
                </div>
            </div><!-- end of row -->
        </div>
    </section><!-- end of service section -->

    <!-- portfolio section -->
    <section class="section" id="portfolio">
        <div class="container text-center">
            <p class="section-subtitle">What I Did ?</p>
            <h6 class="section-title mb-6">Personal Projects</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-4">
                    <a href="https://github.com/Mustafiz48/Sentiment-Analysis-of-Bangali-Text-with-Deep-Learning#sentiment-analysis-of-bangali-text-with-deep-learning" target="_blank" class="portfolio-card">
                        <img src="assets/imgs/resized-sentiment-analysis.svg" class="portfolio-card-img" alt="Sentiment analysis of Bangali Text with Deep Learning">    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Sentiment analysis of Bangali Text with Deep Learning</h5>
                                <p class="font-weight-normal">Category: Deep learning</p>
                            </span>                         
                        </span>                     
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://github.com/Mustafiz48/FaceRecognition_VGG" target="_blank" class="portfolio-card">
                        <img class="portfolio-card-img" src="assets/imgs/rsz_face-recognition.png" class="img-responsive rounded" alt="Face recognition with Deep Learning">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Face recognition with Deep Learning</h5>
                                <p class="font-weight-normal">Category: Deep Learning</p>
                            </span>                         
                        </span>                         
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://github.com/Mustafiz48/Named-Entity-Recognition-with-BERT-pytorch" target="_blank" class="portfolio-card">
                        <img class="portfolio-card-img" src="assets/imgs/rsz_named_enitity.jpg" class="img-responsive rounded" alt="Named Entity recognition with BERT in pytorch">    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Named Entity recognition with BERT in pytorch</h5>
                                <p class="font-weight-normal">Category: Deep Learning</p>
                            </span>                         
                        </span>                     
                    </a>
                </div>
            </div><!-- end of row -->
            <button class="btn-rounded btn btn-outline-primary mt-4"><a class="link" href="https:////github.com/Mustafiz48" target="_blank">View more projects on my Github </a></button>

        </div><!-- end of container -->
    </section> <!-- end of portfolio section -->

    <!-- section -->
    <section class="section-sm bg-primary">
        <!-- container -->
        <div class="container text-center text-sm-left">
            <!-- row -->
            <div class="row align-items-center">
                <div class="col-sm offset-md-1 mb-4 mb-md-0">
                    <h6 class="title text-light">Want to work with me?</h6>
                    <p class="m-0 text-light">Always feel Free to Contact & Hire me</p>
                </div>
                <div class="col-sm offset-sm-2 offset-md-3">
                    <a href="mailto:mustafij48@gmail.com"><button class="btn btn-lg my-font btn-light rounded">Hire Me</button></a>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of section -->

    <!-- testimonial section -->
    <section class="section" id="testmonial">
        <div class="container text-center">
            <p class="section-subtitle">What Think Client About Me ?</p>
            <h6 class="section-title mb-6">Testmonial</h6>

            <!-- row -->
            <div class="row">
                <div class="col-md-6">
                    <div class="testimonial-card">
                        <div class="testimonial-card-img-holder">
                            <img src="assets/imgs/avatar.png" class="testimonial-card-img" alt="Testmonial icon">                           
                        </div>
                        <div class="testimonial-card-body">
                            <p class="testimonial-card-subtitle">Throughout this process I’ve learnt much more about certain parts of ML. The seller is very knowledgeable and patient, and more than happy to help with any issues you may have, or teach you about things that you are unsure of. Would recommend to everyone!</p>
                            <h6 class="testimonial-card-title">Jimboslims</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial-card">
                        <div class="testimonial-card-img-holder">
                            <img src="assets/imgs/avatar.png" class="testimonial-card-img" alt="Testmonial icon">                        
                        </div>
                        <div class="testimonial-card-body">
                            <p class="testimonial-card-subtitle">Had an excellent experience. He went above and beyond expectations to deliver as requested before the delivery date. Great communication skills and fast response. Highly recommended!!</p>
                            <h6 class="testimonial-card-title">fidha_mohd</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="testimonial-card">
                        <div class="testimonial-card-img-holder">
                            <img src="assets/imgs/avatar.png" class="testimonial-card-img" alt="Testmonial icon">                        
                        </div>
                        <div class="testimonial-card-body">
                            <p class="testimonial-card-subtitle">It was a pleasure to work with mustafij, great communication. Great work. Always there for a help</p>
                            <h6 class="testimonial-card-title">Haziq</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial-card">
                        <div class="testimonial-card-img-holder">
                            <img src="assets/imgs/twiner.jpg" class="testimonial-card-img" alt="Testmonial icon">                        
                        </div>
                        <div class="testimonial-card-body">
                            <p class="testimonial-card-subtitle">Really amazing. Produces everything to the best! Will recommend to anyone!                            </p>
                            <h6 class="testimonial-card-title">Twinerlabs</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- end of container -->
    </section> <!-- end of testimonial section -->

    <!-- contact section -->
    <section class="section" id="contact">
        <div class="container text-center">
            <p class="section-subtitle">How can you communicate?</p>
            <h6 class="section-title mb-5">Send me in message in live chat!</h6>
            <p class="section-subtitle">Press the chat icon on the bottom right to start a live chat.</p>
        </div><!-- end of container -->
    </section><!-- end of contact section -->

    <!-- footer -->
    <div class="container">
        <footer class="footer">       
            <p class="mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="">Mustafijur Rahman</a></p>
        </footer>
    </div> <!-- end of page footer -->
	
	<!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Meyawo js -->
    <script src="assets/js/meyawo.js"></script>

</body>
</html>
